<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
</head>
<body>
    <div align="center">
        <h1>Categorias</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cat:${listCategorias}">
                    <td th:text="${cat.idCategoria}"></td>
                    <td th:text="${cat.descripcion}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>