<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragmentos/head :: head"></head>
<body>
<div th:replace="fragmentos/sidebar :: sidebar"></div>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
  <header th:replace="fragmentos/header :: header"></header>
  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="card border-top-dark border-top-3 mb-3">
        <div class="card-header text-center" style="font-size: 30pt; font-width: bold;">PLAN DE PROYECTO DE INVESTIGACIÓN APLICADA</div>
        <div class="card-body text-dark">
          <h4 class="card-title mt-3 mb-4">TÍTULO DEL PROYECTO: TIENDA DE COMPUTADORAS</h4>
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">ESCUELA</th>
              <td>Tecnologías de la Información</td>
            </tr>
            <tr>
              <th scope="row">CARRERA</th>
              <td>Computación e Informática</td>
            </tr>
            <tr>
              <th scope="row">CURSO</th>
              <td>Lenguaje de Programación II (SP4691)</td>
            </tr>
            <tr>
              <th scope="row">CICLO</th>
              <td>Cuarto</td>
            </tr>
            <tr>
              <th scope="row">ALUMNO</th>
              <td>SADOT JAYO VILCA</td>
            </tr>
            <tr>
              <th scope="row">DOCENTE</th>
              <td>JORGE LUIS ROBLES PINTADO</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragmentos/footer :: footer"></footer>
</div>
<div th:replace="fragmentos/scripts :: scripts"></div>
</body>
</html>