<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragmentos/head :: head"></head>
<body>
<div th:replace="fragmentos/sidebar :: sidebar"></div>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header th:replace="fragmentos/header :: header"></header>
    <div class="body flex-grow-1 px-3">
        <div class="container">
            <h1 class="mb-4">Nuevo Producto</h1>
            <div class="docs-example">
                <form action="#" th:action="@{/guardarProducto}" th:object="${producto}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="titulo" th:field="*{titulo}" placeholder="Título">
                        <label for="titulo">Título</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" placeholder="Descripción">
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="imagen" th:field="*{imagen}" placeholder="Imagen">
                        <label for="imagen">Imagen</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="marca" th:field="*{marca}" placeholder="Marca">
                        <label for="marca">Marca</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="stock" th:field="*{stock}" placeholder="Stock">
                        <label for="stock">Stock</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="precioUnitario" th:field="*{precioUnitario}" placeholder="Precio unitario">
                        <label for="precioUnitario">Precio unitario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" id="categoria" th:field="*{categoria}">
                            <option value="">Seleccione una categoría</option>
                            <option th:each="c: ${categorias}" th:value="${c.idCategoria}" th:text="${c.descripcion}" />
                        </select>
                        <label for="categoria">Categoría</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success mb-3">Guardar</button>
                        <a th:href="@{/productos}" class="btn btn-dark mb-3">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragmentos/footer :: footer"></footer>
</div>
<div th:replace="fragmentos/scripts :: scripts"></div>
</body>
</html>